*{ margin:0;padding:0;}
html{font:150%/1.5 Arial, Helvetica, sans-serif;}
body{background-color:#fff;margin:0.15em;}
h1{font-size:100%;padding:2%;background-color:#999; text-transform:capitalize;}
#addProfile{ display:none;visibility:hidden;width:90%;height:80%;}
#showProfile{ display:none;visibility:hidden;}
#main{width:100%;}
#main{width:100%;}
#addBtn{padding:20% 10% 20% 10%; width:50%; text-decoration:none;
background-color:#666; margin-left:10%; margin-right:10%; font-size:100%;}
#formlink{margin-top:5em; margin-left:1em;}
#profileForm label{clear:both;float:left;display:inline-block; font-size:60%; margin-left:5%;};
#profileForm input{display:inline-block; font-size:150%;size:150;}
#sbtn{clear:both;float:left;display:block;background-color:#ddd;font-size:1em;font-weight:bold;margin-top:0.1em;margin-left:10%;width:5em;height:2em;padding:0;}
#addProfile ul{list-style-type:none;width:100%;margin-top:5%;}
#addProfile ul li{height:2em;font-size:1.5em;}
#showProfile ul{list-style-type:none;width:100%;margin-top:5%;margin-left:1em;}
#showProfile ul li{height:1.5em; font-size:0.75em;}
#showProfile{background-color:#FFFF33;}